<!DOCTYPE html>
<html>
<head>
  <title>Outhouse</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" /> 
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>

<body style="padding:0px;" class="selector-page" ng-app="Outhouse">

<div style="position:fixed; width:100%;height:100%;background-color:black; opacity:{{opacity.val}};"></div>

  <div class="container" style="padding:0px;" ng-view=""></div>

<%= yield %>

</body>
<%= javascript_include_tag "application" %>

<% cache do %>
<% Dir.glob(Rails.root.join('app','assets','javascripts', 'templates', '**/*.html')).each do |f| %>
<script type="text/ng-template" id="<%= f.sub("#{Rails.root.join('app', 'assets', 'javascripts', 'templates')}/", '') %>">

<%= render file: f %>
</script>
<% end %>
<% end %>

</html>
